ion-tab-bar{
  //--color: rgb(59, 59, 59);
  //background-color: rgb(212, 212, 212) !important;
  border: none;
}
ion-toolbar{
  bottom: 0;
  left: 0;
  height: 60px;
  position: absolute;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding-top: 10px;
  //--background: rgb(212, 212, 212) ;
}
ion-icon{
  border: none;
}
ion-tab-button{
  background-color: transparent !important;
}
ion-accordion-group{
  height: 100%;
  ion-label{
    height: 40px;

  }

}
#numero{
  height: 100%;
  position: absolute;
  width: 100%;

}
ion-list{
  //background: linear-gradient(to right, rgb(231, 231, 231), rgb(179, 174, 174));
  height: 100%;
  padding-top: 60px;

}
ion-button{
  //--background: linear-gradient(to right, rgb(231, 231, 231), rgb(179, 174, 174));
  //color:black;
  font-size: 16px;
  width: 200px;

}
.ion-padding{
    text-align: center;
    p{
      font-size: 14px;
    }
    ion-icon{
      height: 18px;
    }
}
#tamElemento{
  height:400px;
  //background-color: rgb(245, 245, 245);
  ion-button{
    height: 40px;
    margin-left: 35%;
    margin-right: 50%;
    margin-top:20px;
  }

}

