<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button class="hist" (click)="toMostrar(1)">
        <ion-label>Inicio</ion-label>
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="toMostrar(2)">
        <ion-label>Atendimento</ion-label>
        <ion-icon name="headset-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="toMostrar(4)">
        <ion-label>Ajustes</ion-label>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
