ion-button{
  width: 60px;
  height: 30px;
}
ion-icon{
  margin-top: 0px;
}
ion-col  {
  padding: 10px;
}
ion-img{
  height: 85%;
  width: 85%;
  margin: auto;
}
h2{
  font-family: 'Arial';
}
ion-content{
  text-align: center;
}
