<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      <b>LOGIN</b>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

<!--  <form id="#form">
    <app-input placeholder="Usúario" [(ngModel)]="userLogin.email"></app-input>
    <app-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></app-input>
    <ion-button expand="block" shape="round" routerLink="produto">Acessar</ion-button>
  </form> -->
  <ion-list>
    <img src="../../assets/logo-gr.png">
  <ion-item>
    <ion-label position="floating">Usúario</ion-label>
    <ion-input required type="text" [(ngModel)]="model.userName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input  position="floating" required type="password" [(ngModel)]="model.passwordHash"></ion-input>
  </ion-item>
  <ion-button  type="submit" (click)="login()"><b>Entrar</b></ion-button>
</ion-list>
</ion-content>
