<app-menu></app-menu>
<ion-content fullscreen *ngIf="carregou">
  <ion-grid>
    <ion-row>
      <ion-col style="border-right: solid 1px rgb(212, 212, 212)">
        <a (click)="link('/pedido')"><ion-icon name="bag-add-outline"></ion-icon></a>
      </ion-col>
      <ion-col>
        <a (click)="link('/acompanharpedido')"><ion-icon name="receipt-outline"></ion-icon></a>
      </ion-col>
      <ion-col style="border-left: solid 1px rgb(212, 212, 212)">
        <a disabled><ion-icon name="cart-outline"></ion-icon></a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="cards" *ngIf="pedidosCarrinho.length > 0">
    <h2><b>Carrinho</b></h2>
    <ion-card *ngFor="let pedido of pedidosCarrinho">
      <ion-card-header>
        <ion-card-title>{{pedido.nM_FANTASIA}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item  *ngFor="let produto of pedido.produtosCarrinho">
            <ion-thumbnail slot="start">
              <img [src]="produto.imagem" />
            </ion-thumbnail>
            <ion-label>
              <ion-text>{{produto.nM_PRODUTO}}</ion-text>
              <ion-text color="medium"><h3 style="font-size: 20px; margin-top: 5px">x {{produto.qT_PRODUTO}}</h3></ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-button style="float:right" fill="clear" color="success" (click)="confirmarPedido(pedido)">
        Confirmar &nbsp;<ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="removerPedido(pedido)">
        Remover &nbsp;<ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </div>
  <div class="ion-text-center" *ngIf="carregou && pedidosCarrinho.length === 0">
    <ion-icon name="help-circle-outline" style="font-size: 250px; margin-top: 30%"></ion-icon>
    <br>
    <ion-text style="font-size: 20px;">O carrinho está vazio</ion-text>
  </div>
</ion-content>
<ion-content *ngIf="!carregou">
  <app-spinner></app-spinner>
</ion-content>

<app-footer></app-footer>
