.img-col{
  //border: solid 1px grey;
  //box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  //background: white;
  margin-right:10px;
  margin-bottom: 10px;
}
.img{
  height: 50px;
  margin-left: -50px;
  margin-right: -50px;
}
h2{
  margin-top: 80px;
}
